*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.bg-color{
	background-color: #223344;
}
.clr-1{
	color: #53abff;
}
.clr-2{
	color: #5dc9a5;
}
.clr-3{
	color: #d3d460;
}
.clear-both{
	clear: both;
}
.profile{
	border: 1px solid #fff;
    border-top: 0;
    border-left: 0;
    border-radius: 50%;
}
.name{
	text-transform: uppercase;
	border-top: solid 2px #fff;
	padding-top: 20px;
	font-size: 2.75rem;
}
.social-icon{
    color: white;
	font-size: 1.6rem;
}
.social-icon:hover{
    color: #53abff;
}
.heading{
	color: #53abff;
	text-transform: uppercase;
	font-weight: 400; 
}
.block-detail{
	display: inline-flex;
}
.icon{
	font-size: 2rem;
	color: #fff;
	display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
}
p{
	line-height: 20px;
	margin-top: 20px !important;
}
.bio tr td{
	min-width: 115px;
}
.vline{
	width: 0px;
	border-left: 2px solid #fff;
	margin-top: -8px;
	margin-left: 25px;
}
.circle{
	margin-left: -23px;
}
.date{
	font-size: 13px;
	min-width: 70px;
	max-width: 120px;
}
.field-heading{
	text-transform: uppercase;
	font-size: 20px;
}
.skill, .skill-val{
	height: 10px;
	border-radius: 5px;
}
.skill{
	width: 100%;
	background-color: #fff;
}
.skill-val{
	background-color: #5dc9a5;
}
.skill-btn{
	float: right;
	margin-top: -5px;
}