:root{
	--bg:#234;
	--bg1:#345;
	--bg2:#456;
	--bg3:#567;
	--bg4:#678;
	--bg5:#789;
	--clrWhite:#fff;
	--clr:#999;
	--clr1:#53abff;
	--clr2:#5dc9a5;
	--clr3:#d3d460;
}
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Inter', sans-serif;
}
/* General Classes */
.bg-color{
	background-color: var(--bg);
}
.clr{
	color: var(--clr);
}
.clr-1{
	color: var(--clr1);
}
.clr-2{
	color: var(--clr2);
}
.clr-3{
	color: var(--clr3);
}
.clear-both{
	clear: both;
}
.f-l{
	float: left;
}
.f-r{
    float: right;
}
.my-btn{
	outline: none;
	cursor: pointer;
	display: inline-block;
	color: var(--clrWhite);
	text-decoration: none;
	transition: background-color 0.3s ease;
	padding: 0.5rem 1rem;
	background-color: transparent;
	border: solid 1px var(--clr2);
	border-radius: 30px;
	font-weight: 200;
}
.my-btn:hover{
	background-color: var(--clr2);
}
.my-container{
	display: flex;
	justify-content: start;
	flex-wrap: wrap;
}
.bbs-2{
	background-color: var(--bg);
	border: solid 1px var(--bg1);
    filter: drop-shadow(0 15px 35px rgba(0, 0, 0, 0.2));
}
.br-20{
	border-radius: 20px;
}
section{
	min-height: 100vh;
	padding: 3rem 0;
}
.main-heading{
	font-weight: 300;
	font-size: 3.5rem;
	margin-bottom: 4rem;
}
.heading{
	color: var(--bg5);
	text-transform: uppercase;
	font-weight: 200; 
	border-radius: 18px;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
	background-color: var(--bg);
    filter: drop-shadow(0 15px 35px rgba(0, 0, 0, 0.4));
	position: relative;
	bottom: 2rem;
}
p{
	line-height: 20px;
	margin-top: 20px !important;
	font-weight: 200;
	color: var(--bg5);
}
.pStyle{
	font-weight: 200;
	color: var(--bg5);
}
@media (max-width: 1400px){
	.main-heading{
		font-size: 2.5rem;
	}
}
@media (max-width: 1200px){
	.main-heading{
		font-size: 2rem;
	}
}
@media (max-width: 500px){
	.main-heading{
		font-size: 1.5rem;
	}
}

/* Header start */

.profile{
	border-bottom: 1px solid var(--bg1);
}
.slogn{
	color: var(--bg5);
	font-weight: 200;
}
.social-icon{
    color: var(--bg5);
	font-size: 2rem;

}
.social-icon:hover{
    color: var(--clrWhite);
}

/* Header navbar style strat */

.menu-btn{
	display: none;
}
header{
	position: fixed;
    z-index: 1000;
    top: 50%;
    right: 30px;
    display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transform: translateY(-50%);
    border-radius: 20px;
	background-color: var(--bg);
    filter: drop-shadow(0 15px 35px rgba(0, 0, 0, 0.3));
	border: solid 1px var(--bg1);
}
header a {
	padding: 0.5rem 0.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    z-index: 2;
}
header a .nav-icon{
    font-size: 1.5em;
    color: var(--bg5);
    transition: 0.5s;
    position: relative;
}
header a .nav-icon:hover{
	color: var(--clrWhite);
}
header a.active .nav-icon{
    color: var(--clr2);
}
header a .text{
    position: absolute;
    color: var(--clrWhite);
    padding: 2px 7px;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.3s;
    border-radius: 10px;
    filter: drop-shadow(0 15px 35px rgba(0, 0, 0, 0.3));
    opacity: 0;
}
header a:hover .text{
    opacity: 1;
    transform: translateX(-60px);
    background-color: var(--bg);
}
@media (max-width: 992px){
	.menu-btn{
		position: fixed;
		top: 30px;
		right: 30px;
		font-size: 2rem;
		color: var(--bg5);
		cursor: pointer;
		width: 50px;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		background-color: var(--bg);
		filter: drop-shadow(0 15px 35px rgba(0, 0, 0, 0.3));
		border: solid 1px var(--bg1);
		z-index: 10000;
	}
	.menu-btn.active{
		color: var(--clr2);
	}
	header{
		display: none;
	}
	header.responsive{
		display: flex;
	}
	header a .text{
		opacity: 1;
		transform: translateX(-60px);
		background-color: var(--bg);
	}
	header a.active .text{
		color: var(--clr2);
	}
}

/* Header navbar style end */
/* Header end */


/* Profile card start */

.pro-main {
position: fixed;
top: 50%;
background-color: var(--bg);
filter: drop-shadow(0 15px 35px rgba(0, 0, 0, 0.4));
border: solid 1px var(--bg1);
border-radius: 20px;
padding: 20px;
text-align: center;
}
.pro-pic {
width: 240px;
height: 240px;
overflow: hidden;
background-color: var(--bg);
filter: drop-shadow(0 15px 35px rgba(0, 0, 0, 0.4));
border: solid 1px var(--bg1);
border-radius: 50%;
}
.title,
.mail {
padding: 10px;
font-weight: 400;
text-align: center;
}
.title {
margin-top: 1rem;
font-size: 1rem;
}
.pro-name {
font-size: 2rem;
font-weight: 500;
}
.mail {
font-size: 0.8rem;
font-weight: 200;
}
.pro-icons{
display: flex;
justify-content: space-evenly;
align-items: center;
margin-top: 1rem;
}
.pro-icon {
display: flex;
justify-content: center;
align-items: center;
font-size: 1.2rem;
color: var(--bg5);
text-decoration: none;
width: 50px;
height: 50px;
border-radius: 50%;
border: solid 1px var(--bg1);
background-color: var(--bg);
filter: drop-shadow(0 15px 35px rgba(0, 0, 0, 0.4));
cursor: pointer;
}
.pro-icon:hover {
color: var(--clr2);
border: solid 1px var(--clr2);
}
.hire-btn{
	margin-top: 2rem;
	margin-bottom: 1rem;
}
.pro-hide{
opacity: 0;
transform: translateY(-60%);
transition: all 0.3s ease;
}
.pro-show{
    opacity: 1;
	transform: translateY(-50%);
	transition: all 1s ease;
}
@media (max-width: 1400px){
	.pro-pic{
		width: 210px;
		height: 210px;
	}
}
@media (max-width: 1200px){
	.pro-pic{
		width: 174px;
		height: 174px;
	}
}
@media (max-width: 992px){
	.pro-main{
		display: none;
	}
}


/* Profile card end */


/* About section start */



.about{
	max-width: 800px;
	margin: auto;
}
.about h2{
	font-weight: 300;
	color: var(--clr2);
}
.intro {
margin-bottom: 1.5rem;
}
.highlight {
color: var(--clr3);
}
.about-boxs{
display: flex;
flex-direction: column;
}
.about-box{
	margin: 1rem 0;
	display: flex;
	width: 100%;
	padding: 1rem;
	background-color: var(--bg);
	filter: drop-shadow(0 15px 35px rgba(0, 0, 0, 0.2));
	border: solid 1px var(--bg1);
	border-radius: 20px;
}
.about-icon-box{
	position: relative;
	width: 18%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 4rem;
	color: var(--bg5);
	float: left;
}
.about-vLine{
	width: 4%;
	border-left: solid 1px var(--bg5);
}
.about-details-box{
	width: 77%;
}
.about-details-box h4{
	font-weight: 300;
	color: var(--clrWhite);
}

/* About section end */

/* Services section start */

  .service {
	background-color: var(--bg);
	border-radius: 20px;
	filter: drop-shadow(0 15px 35px rgba(0, 0, 0, 0.2));
	border: solid 1px var(--bg1);
	padding: 30px;
	margin: 20px;
	flex: 1;
	min-width: 200px;
  }
  .service h3 {
	font-weight: 300;
	font-size: 1.5rem;
	color: var(--clrWhite);
  }


/* Services section end */


/* Skills section start */

@property --progress-value {
	syntax: "<integer>";
	inherits: false;
	initial-value: 0;
  }

  @keyframes progress {
	to {
	  --progress-value: var(--val);
	}
  }

  .skill-progress-box {
	display: flex;
	margin: 10px;
	justify-content: space-evenly;
	width: 280px;
	align-items: center;
	color: var(--bg5);
	font-size: 1rem;
	padding: 1.2rem;
	background-color: var(--bg);
	filter: drop-shadow(0 15px 35px rgba(0, 0, 0, 0.2));
	border: solid 1px var(--bg1);
	border-radius: 72px;
  }
  .skill-animation::before {
	counter-reset: percentage var(--progress-value);
	content: counter(percentage);
	animation: progress 2s 1 forwards;
  }
  .skill-progress-bar {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--bg5);
	background: radial-gradient(
		closest-side,
		var(--bg) 79%,
		transparent 80% 100%
	  ),
	  conic-gradient(var(--clr2) calc(var(--progress-value) * 1%), var(--bg1) 0);
  }
  .skill-animation{
	animation: progress 2s 1 forwards;
  }
  .skill-name-box {
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }
  .skill-name-box i {
	font-size: 2.5rem;
  }
  .skill-name-box p {
	margin: 0;
	margin-top: 10px;
  }

/* Skills section end */


/* Project section start */

.project {
position: relative;
border-radius: 15px;
box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
margin-bottom: 2rem;
overflow: hidden;
min-height: 10rem;
}
.project.full-width {
width: 100%;
}
.project img {
width: 100%;
height: auto;
object-fit: cover;
}
.project-details {
position: absolute;
bottom: 0;
left: 0;
right: 0;
background-color: rgba(0, 0, 0, 0.8);
color: var(--clrWhite);
padding: 15px;
text-align: center;
border-radius: 0 0 15px 15px;
}
.project h3 {
font-size: 1.5rem;
font-weight: 300;
}
.project-container {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}
.project-parallel {
flex: 0 0 calc(50% - 15px);
}
@media (max-width: 768px){
	.project-parallel {
		flex: 0 0 100%;
	}
}

/* Project section end */

/* Resume section start */

.block-detail{
	display: inline-flex;
}
.vline{
	width: 0px;
	border-left: 2px solid var(--bg5);
	margin-top: -8px;
	margin-left: 25px;
}
.circle{
	margin-left: -23px;
}
.date{
	font-size: 13px;
	font-weight: 200;
	min-width: 70px;
	max-width: 120px;
}
.field-heading{
	text-transform: uppercase;
	font-weight: 300;
	font-size: 20px;
}

/* Resume section end */

/* contact form start */

.contact-box{
	padding: 20px 60px 30px 0px;
	width: 96%;
	display: flex;
	align-items: center;
	justify-content: space-between;
  }
  .contact-box .left-side{
	width: 25%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 15px;
	position: relative;
  }
  .contact-box .left-side::before{
	content: '';
	position: absolute;
	height: 70%;
	width: 2px;
	right: -15px;
	top: 50%;
	transform: translateY(-50%);
	background: var(--bg5);
  }
  .contact-box .left-side .details{
	margin: 14px;
	text-align: center;
  }
  .contact-box .left-side .details ion-icon{
	font-size: 2rem;
	color: var(--clr2);
	margin-bottom: 10px;
  }
  .contact-box .left-side .details .topic{
	font-size: 18px;
	font-weight: 200;
  }
  .contact-box .left-side .details .text-one,
  .contact-box .left-side .details .text-two{
	font-size: 14px;
	color: var(--bg5);
  }
  .contact-box .right-side{
	width: 75%;
	margin-left: 75px;
  }
  .right-side .input-box{
	height: 50px;
	width: 100%;
	margin: 12px 0;
  }
  .right-side .input-box input,
  .right-side .input-box textarea{
	height: 100%;
	width: 100%;
	border: none;
	border-bottom: solid 1px var(--bg5);
	outline: none;
	font-size: 16px;
	background: transparent;
	padding: 0 15px;
	resize: none;
	color: var(--bg5);
  }
  .right-side .message-box{
	min-height: 110px;
  }
  .right-side .input-box textarea{
	padding-top: 6px;
  }
  .right-side .button{
	display: inline-block;
	margin-top: 16px;
  }
  @media (max-width: 991px) {
	.container{
	  width: 90%;
	  padding: 30px 40px 40px 35px ;
	}
	.contact-box .right-side{
	 width: 75%;
	 margin-left: 55px;
  }
  }
  @media (max-width: 768px) {
	.container{
	  margin: 40px 0;
	  height: 100%;
	}
	.contact-box{
	  flex-direction: column-reverse;
	}
   .contact-box .left-side{
	 width: 100%;
	 flex-direction: row;
	 margin-top: 40px;
	 justify-content: center;
	 flex-wrap: wrap;
   }
   .contact-box .left-side::before{
	 display: none;
   }
   .contact-box .right-side{
	 width: 100%;
	 margin-left: 0;
   }
  }

/* contact form end */

/* Transitions start */


.hidden-right{
	opacity: 0;
	transform: translate(50px, 0);
	transition: all 1s ease;
}
.hidden-left{
	opacity: 0;
	transform: translate(-50px, 0);
	transition: all 1s ease;
}
.hide{
	opacity: 0;
	transform: translate(0, 100px);
	transition: all 1s ease-in-out;
}
.home-out{
	opacity: 0;
	transform: translate(-10%, 10%);
	transition: all 0.6s ease-in-out;
}
.home-in{
    opacity: 1;
	transform: translate(0, 0);
	transition: all 0.6s ease-in-out;
}
@media (max-width: 992px){
	.home-out{
		opacity: 1;
		transform: translate(0, 0);
		transition: all 0.6s ease-in-out;
	}
}
@media (max-width: 768px){
	.hidden-right{
	opacity: 0;
	transform: translate(0, 100px);
	transition: all 1s ease;
	}
	.hidden-left{
		opacity: 0;
		transform: translate(0, 100px);
		transition: all 1s ease;
	}
}
.show{
	opacity: 1;
	transform: translate(0, 0);
}

/* Transitions end */